body, h2, h3, h4, h5 {
  font-family: cursive !important;
}

.day p.text,
.day p.notes {
  text-align: center;
}


div.options,
nav {
  display: none !important;
}

.day {
  padding-top: 30px !important;
  border-top: none !important;
}
