body, h2, h3, h4, h5 {
  font-family: cursive !important;
}

.day p.text,
.day p.notes {
  text-align: center;
}


div.day,
h3.week-head {
  margin-top: 0 !important;
}

.App-header,
div.options,
span.weekday-head-date,
nav {
  display: none !important;
}

.day {
  padding-top: 30px !important;
  border-top: none !important;
}

.page-container {
  margin-top: 0 !important;
}
