.navbar-brand .week-head-dates {
  font-size: 70%;
  opacity: 0.7;
}

.options.top {
  margin-top: 40px;
}

.options.bottom {
  margin-top: 40px;
  margin-bottom: 100px;
}

.day .actions .action {
  padding-top: 10px;
}

.action.buttons {
  text-align: right;
}

.day .week-head {
  text-align: center;
  margin-top: 40px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.day {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #efefef;
}

/*.weekday-head {
  margin-bottom: 0.3rem;
}*/

.day .weekday-head-date {
  font-size: 70%;
  opacity: 0.7;
}
.day textarea {
  font-size: 1em;
}

.display-day p {
  margin: 3px;
  line-height: 1.3;
}

.search-results .search-result p.last-used {
  margin: 3px;
  font-size: 0.8em;
  opacity: 0.7;

}

.display-day p.text,
textarea.text {
  font-weight: bold;
}


.search-results .search-result {
  margin: 20px 0;
}

.fadein-enter {
  opacity: 0.01;
}
.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fadein-leave {
  opacity: 1;
}
.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.fadein-appear {
  opacity: 0.01;
}
.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.btn.close-button {
  margin-top: 50px;
  margin-bottom: 50px;
}


.offline-indicator {
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 0.5em;
}
.offline-indicator .online {
  color: #8BAB57;
}
.offline-indicator .offline {
  color: #CF441F;
}

.navbar-light .navbar-brand {
  font-size: 1.25em;
}
@media (max-width:320px) {
  .navbar-light .navbar-brand {
    font-size: 1.05em;
  }
  .offline-indicator {
    margin-left: 5px;
  }
}
