/*.app {
  text-align: center;
}*/


/*.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}*/

/*.App-intro {
  font-size: large;
}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/

/*.options {
  margin: 30px;
}*/

.navbar-brand .week-head-dates {
  font-size: 70%;
  opacity: 0.7;
}

.options.top {
  margin-top: 40px;
}

.options.bottom {
  margin-top: 40px;
  margin-bottom: 100px;
}

/*.day .actions {
  display: flex;
}*/

.day .actions .action {
  /*width: 50%;*/
  padding-top: 10px;

  /*border-right:1px solid red;*/
}

.action.buttons {
  text-align: right;
}

.day .week-head {
  text-align: center;
  /*border-top: 1px solid #efefef;*/
  margin-top: 40px;
  padding-top: 10px;
  margin-bottom: 20px;
}

.day {
  /*text-align: left;*/
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid #efefef;
}

.day .weekday-head-date {
  font-size: 70%;
  opacity: 0.7;
}
.day textarea {
  /*width: 90%;*/
  font-size: 1em;
}

.display-day p {
  margin: 3px;
  line-height: 1.3;
}

.display-day p.text,
textarea.text {
  font-weight: bold;
}


.search-results .search-result {
  margin: 20px 0;
}


.fadein-enter {
  opacity: 0.01;
}
.fadein-enter.fadein-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fadein-leave {
  opacity: 1;
}
.fadein-leave.fadein-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


.fadein-appear {
  opacity: 0.01;
}
.fadein-appear.fadein-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.btn.close-button {
  margin-top: 40px;
}
